body{
  background-color: rgb(117, 187, 190);
  color: white;
  font-family: fantasy;
  padding: 0;
  margin: 0;
}

.booksLink{
  color: inherit;
  text-decoration: none;
}

.booksLink:hover {
  color:rgb(171, 123, 123); 
  transform: scale(3.1);
  transition: all 0.6s ease-in-out;
}

#root {
  /*max-width: 1280px; */
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 60px;
  height: 30px;
  background: rgb(247, 186, 186);
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 25px;
  height: 25px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 40px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.starRating{
  cursor: pointer;
  font-size: 25px;
}

/* Styles for small screens */

@media (max-width: 480px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 100px;
    color: honeydew;
  }

  nav ul li a.booksLink:hover {
    color:rgb(171, 123, 123); 
    font-size: 1rem;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    box-shadow: #787ef8aa 0 0 2em;
  }

  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  .logo {
    height: 2.5em;
    padding: 1.5em;
  }
  
  .navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .navList li {
    margin-right: 10px; /* Add space between each nav item */
  }
  
  .todoForm{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin-bottom: 200px;
    padding: 2em;
    align-items: center;
  }
  
  .bookTitle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    font-size: 1.4rem;
  }

.switch-toggle-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
  
  .react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 32px;
    height: 17px;
    background: rgb(247, 186, 186);
    border-radius: 80px;
    position: relative;
    transition: background-color .2s;
  }
  
  .react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 13px;
    height: 13px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  
  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  
  .react-switch-label:active .react-switch-button {
    width: 20px;
  }

  .removeButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    width: 75px;
    height: 25px;
    font-size: 15px;
    align-items: baseline;
    padding: 2px;
    margin: 2px;
    text-decoration: none;
  }
  
  .addButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    width: 60px;
    height: 28px;
    font-weight: bold;
    font-size: 15px;
    align-items: baseline;
    padding: 5px;
    margin: 5px;
  }

  .starRating{
    cursor: pointer;
    font-size: 20px;
  }

}


  /* Styles for tablets */
@media (min-width: 481px) and (max-width: 768px){
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 200;
    color: honeydew;
  }

  .booksLink:hover {
      color:rgb(171, 123, 123); 
      font-size: 1.2rem;
      transform: scale(1.1);
      transition: all 0.5s ease-in-out;
      box-shadow: #787ef8aa 0 0 2em;
    }

  .logo {
    height: 3em;
    padding: 1em;

  }
  
  .navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .navList li {
    margin-right: 20px; /* Add space between each nav item */
  }
  /*
  .todoForm{
    display: flex;
    gap: 10px;
    margin-bottom: 4px;
    align-items: center;
    font-size: 2rem;
  }
*/

.bookTitle{
  margin-right:100px;
}
.form-items{
  font-size: 1.1rem;
  display: flex; 
  flex-direction: column;
  align-items:flex-start;
  padding: 1em;
  margin-left: 5rem;

}
  
  .removeButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    height: 20px;
    font-size: 15px;
    align-items: baseline;
    padding: 3px;
    
    text-decoration: none;
  }

  .addButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    height: 25px;
    font-weight: bold;
    font-size: 15px;
    align-items: baseline;
    padding: 5px;
    margin: 5px;
  }
}


/* Styles for larger tablets or smaller laptops */
@media (min-width: 769px) and (max-width: 1024px){
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 200;
    color: honeydew;
  }

  .booksLink:hover {
      color:rgb(171, 123, 123); 
      font-size: 2.5rem;
      transform: scale(1.1);
      transition: all 0.5s ease-in-out;
      box-shadow: #787ef8aa 0 0 2em;
    }

  .logo {
    height: 3em;
    padding: 1em;

  }
  
  .navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .navList li {
    margin-right: 20px; /* Add space between each nav item */
  }

.bookTitle{
  margin-right:100px;
  font-size: 5rem;
}
.form-items{
  font-size: 2rem;
  display: flex; 
  flex-direction: column;
  align-items:flex-start;
  padding: 1em;
  margin-left: 5rem;

}
  
  .removeButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    height: 20px;
    font-size: 15px;
    align-items: baseline;
    padding: 3px;
    text-decoration: none;
  }

  .addButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    height: 25px;
    font-weight: bold;
    font-size: 15px;
    align-items: baseline;
    padding: 5px;
    margin: 5px;
  }
}


/* Styles for small desktops *********Still working on it***********/
@media (min-width: 1025px) and (max-width: 1200px){
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 200;
    color: honeydew;
    padding: 1em;
  }

  .logo {
    height: 3em;
    padding: 1.5em;

  }
  
  .navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .navList li {
    margin-right: 20px; /* Add space between each nav item */
  }
  
  .todoForm{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    font-size: 2rem;
  }
  
  .title{
    margin-right:100px;
  }
  
  .removeButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    height: 25px;
    font-size: 18px;
    align-items: baseline;
    padding: 5px;
    margin: 5px;
  }
  
  .addButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    height: 25px;
    font-weight: bold;
    font-size: 15px;
    align-items: baseline;
    padding: 5px;
    margin: 5px;
  }
}


  /* Styles for large screens *******Still working on it*********/

@media (min-width: 1201px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 200;
    color: honeydew;
    padding: 1em;
  }

  .logo {
    height: 3em;
    padding: 1.5em;

  }
  
  .navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .navList li {
    margin-right: 20px; /* Add space between each nav item */
  }
  
  .todoForm{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    font-size: 2rem;
  }
  
  .title{
    margin-right:100px;
  }
  
  .removeButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    height: 25px;
    font-size: 18px;
    align-items: baseline;
    padding: 5px;
    margin: 5px;
  }
  
  .addButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    height: 25px;
    font-weight: bold;
    font-size: 15px;
    align-items: baseline;
    padding: 5px;
    margin: 5px;
  }
}