
body{
  background-color: rgb(117, 187, 190);
  color: white;
  font-family: fantasy;
  padding: 0;
  margin: 0;
  width: 100%;  
  display: flex;
  flex-direction: column;
}

.nav-home, .nav-about, .nav-contact, .booksLink {
  color: inherit;
  text-decoration: none;
}

nav ul li a.booksLink:hover, a.nav-home:hover, a.nav-about:hover, a.nav-contact:hover {
  color:rgb(171, 123, 123); 
  font-size: 1.5rem;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  box-shadow: #787ef8aa 0 0 2em;
}

#root {
  /*max-width: 1280px; 
  margin: 0 ;
  padding: 2rem;*/
  text-align: center;
  width: 100%;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.switch-toggle-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 60px;
  height: 30px;
  background: rgb(247, 186, 186);
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 25px;
  height: 25px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 40px;
}

.read-the-docs {
  color: #888;
}

.starRating{
  cursor: pointer;
  font-size: 25px;
}

/* Styles for small screens */

@media (max-width: 480px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 100px;
    color: honeydew;
  }

  nav ul li a.booksLink:hover, a.nav-home:hover, a.nav-about:hover {
    color:rgb(171, 123, 123); 
    font-size: 1.5rem;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    box-shadow: #787ef8aa 0 0 2em;
  }
  

  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  .logo {
    height: 2.5em;
    padding: 1em;
  }
  
  .navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .navList li {
    margin: 4px; 
  }
  
  .todoForm{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding: 2em 2em 4rem 4rem;
    margin: 3rem;
    margin: 0;
    align-items: center;
  }

  .form-todo-list{
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem 2rem 2rem  ;
    margin: 4rem;
  }
  
  .bookTitle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4rem;
  }
  
  .react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 32px;
    height: 17px;
    background: rgb(247, 186, 186);
    border-radius: 80px;
    position: relative;
    transition: background-color .2s;
  }
  
  .react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 13px;
    height: 13px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  
  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  
  .react-switch-label:active .react-switch-button {
    width: 20px;
  }

  .removeButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    width: 75px;
    height: 25px;
    font-size: 15px;
    align-items: baseline;
    padding: 2px;
    margin: 2px;
    text-decoration: none;
  }
  
  .addButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    width: 60px;
    height: 28px;
    font-weight: bold;
    font-size: 15px;
    align-items: baseline;
    padding: 5px;
    margin: 5px;
  }

  .starRating{
    cursor: pointer;
    font-size: 20px;
  }

  .about-page{
    font-size: 1.3em;
    padding: 0 5rem 7rem;
  }
  
  .key-title{
    color:darkslategrey;
  }
  
  .key-list{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  
  main {
    flex: 1; 
  }
  
  footer {
    width: 100%;
    height: auto;
    position: relative;
    list-style: none;
    text-decoration: none;
    background-color: #f8f8f8;
    bottom: 0;
    color: cadetblue;
    font-size: 1.3rem;
    box-sizing: border-box; 
  }
  
  .footer p, 
  .footer h4 {
    margin: 8px;               
    padding: 0;              
    line-height: 1;        
    font-size: .8rem;
  }

}


  /* Styles for tablets */
@media (min-width: 481px) and (max-width: 768px){
  .todo-title{
    font-size: 4.7rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 200;
    color: honeydew;
  }

  nav ul li a.booksLink:hover, a.nav-home:hover, a.nav-about:hover, a.nav-contact:hover {
    color:rgb(171, 123, 123); 
    font-size: 2rem;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    box-shadow: #787ef8aa 0 0 2em;
  }

  .booksLink:hover {
      color:rgb(171, 123, 123); 
      font-size: 1.2rem;
      transform: scale(1.1);
      transition: all 0.5s ease-in-out;
      box-shadow: #787ef8aa 0 0 2em;
    }

  .logo {
    height: 3em;
    padding: 40px;
  }
  
  .navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .navList li {
    padding: 8px; /* Add space between each nav item */
  }
  .react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 46px;
    height: 25px;
    background: rgb(247, 186, 186);
    border-radius: 80px;
    position: relative;
    transition: background-color .2s;
  }
  
  .react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  
  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  
  .react-switch-label:active .react-switch-button {
    width: 20px;
  }
  
  .todoForm{
    display: flex;
    gap: 10px;
    padding: 4em;
    align-items: center;
    font-size: 2rem;
  }

.bookTitle{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.2rem;
}


.form-todo-list{
  font-size: 2.6rem;
  display: flex; 
  flex-direction: column;
  align-items:flex-start;
  padding: 1em;
  margin-left: 5rem;
}
  
.sort-titles {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

  .removeButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    height: 20px;
    font-size: 15px;
    align-items: baseline;
    padding: 3px;
    
    text-decoration: none;
  }

  .addButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    height: 25px;
    font-weight: bold;
    font-size: 15px;
    align-items: baseline;
    padding: 5px;
    margin: 5px;
  }

  input#todoTitle {
    align-items: center;
    width: 200px; 
}

.about-page{
  font-size: 1.5em;
  padding: 0 1rem 4rem 0;
}

.key-title{
  color:darkslategrey;
}

.key-list{
  display: flex;
  flex-direction: column;
  padding: 0 7.5rem;
  margin: 2rem;
}
main {
  flex: 1; 
}
footer {
  width: 100%;
  height: auto;
  position: relative;
  list-style: none;
  text-decoration: none;
  background-color: #f8f8f8;
  bottom: 0;
  color: cadetblue;
  font-size: 1.4rem;
  box-sizing: border-box; 
}

.footer p, 
.footer h4 {
  margin: 0;               
  padding: 0;              
  line-height: 1.4;        
  font-size: 1.4rem;
}

}


/* Styles for larger tablets or smaller laptops */
@media (min-width: 769px) and (max-width: 1024px){
  .todo-title{
    font-size: 5.7rem;
  }

  .navbar {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 200;
    color: honeydew;
  }

  nav ul li a.booksLink:hover, a.nav-home:hover, a.nav-about:hover, a.nav-contact:hover {
    color:rgb(171, 123, 123); 
    font-size: 2.5rem;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    box-shadow: #787ef8aa 0 0 2em;
  }

  .booksLink:hover {
      color:rgb(171, 123, 123); 
      font-size: 2.5rem;
      transform: scale(1.1);
      transition: all 0.5s ease-in-out;
      box-shadow: #787ef8aa 0 0 2em;
    }

  .logo {
    height: 3em;
    padding: 1em;

  }
  
  .navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .navList li {
    margin-right: 25px; 
  }

  .bookTitle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.2rem;
  }

  .todoForm{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin-bottom: 200px;
    padding: 2em;
    align-items: center;
  }

.form-todo-list{
  font-size: 2rem;
  display: flex; 
  flex-direction: column;
  padding: 2rem 2rem ; 

}
.sort-titles {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.removeButton{
  background-color: rgb(221, 241, 221);
  color: #000;
  height: 35px;
  font-size: 20px;
  align-items: baseline;
  padding: 5px;
  margin: 5px;
}

.addButton{
  background-color: rgb(221, 241, 221);
  color: #000;
  height: 35px;
  font-weight: bold;
  font-size: 20px;
  align-items: baseline;
  padding: 5px;
  margin: 5px;
}

  input#todoTitle {
    display: flex;
    justify-items: center;
    width: 350px; 
    height: 20px;
}

.about-page{
  font-size: 1.8em;
  padding: 0 5rem 5rem;
}

.key-title{
  color:darkslategrey;
}

.key-list{
  display: flex;
  flex-direction: column;
  padding: 0 7.5rem;
  margin: 4rem;
}
main {
  flex: 1; 
}
footer {
  width: 100%;
  height: auto;
  position: relative;
  list-style: none;
  text-decoration: none;
  background-color: #f8f8f8;
  bottom: 0;
  color: cadetblue;
  font-size: 1.4rem;
  box-sizing: border-box; 
}

.footer p, 
.footer h4 {
  margin: 0;               
  padding: 0;              
  line-height: 1.4;        
  font-size: 1.4rem;
}

}


/* Styles for small desktops *********Still working on it***********/
@media (min-width: 1025px) and (max-width: 1200px){
  .todo-title{
    font-size: 5.7rem;
  }

  .navbar {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 200;
    color: honeydew;
  }

  nav ul li a.booksLink:hover, a.nav-home:hover, a.nav-about:hover, a.nav-contact:hover {
    color:rgb(171, 123, 123); 
    font-size: 2.9rem;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    box-shadow: #787ef8aa 0 0 2em;
  }

  .booksLink:hover {
      color:rgb(171, 123, 123); 
      font-size: 2.5rem;
      transform: scale(1.1);
      transition: all 0.5s ease-in-out;
      box-shadow: #787ef8aa 0 0 2em;
    }

  .logo {
    height: 3em;
    padding: 1em;

  }
  
  .navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .navList li {
    margin-right: 25px; 
  }

  .bookTitle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.2rem;
  }

  .todoForm{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin-bottom: 200px;
    padding: 2em;
    align-items: center;
  }

.form-todo-list{
  font-size: 2rem;
  display: flex; 
  flex-direction: column;
  padding: 2rem 2rem ; 

}
.sort-titles {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.removeButton{
  background-color: rgb(221, 241, 221);
  color: #000;
  height: 35px;
  font-size: 20px;
  align-items: baseline;
  padding: 5px;
  margin: 5px;
}

.addButton{
  background-color: rgb(221, 241, 221);
  color: #000;
  height: 35px;
  font-weight: bold;
  font-size: 20px;
  align-items: baseline;
  padding: 5px;
  margin: 5px;
}

  input#todoTitle {
    display: flex;
    justify-items: center;
    width: 350px; 
    height: 25px;
}

.about-page{
  font-size: 1.8em;
  padding: 0 5rem 5rem;
}

.key-title{
  color:darkslategrey;
}

.key-list{
  display: flex;
  flex-direction: column;
  padding: 0 7.5rem;
  margin: 4rem;
}
main {
  flex: 1; 
}
footer {
  width: 100%;
  height: auto;
  position: relative;
  list-style: none;
  text-decoration: none;
  background-color: #f8f8f8;
  bottom: 0;
  color: cadetblue;
  font-size: 1.4rem;
  box-sizing: border-box; 
}

.footer p, 
.footer h4 {
  margin: 0;               
  padding: 0;              
  line-height: 1.4;        
  font-size: 1.4rem;
}
}

  /* Styles for large screens */

@media (min-width: 1201px) {
  .todo-title{
    font-size: 5.7rem;
  }
  .navbar {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    font-size: 2.5rem;
    font-weight: 200;
    color: honeydew;
    padding: 0 2.8em;
  }

  nav ul li a.booksLink:hover, a.nav-home:hover, a.nav-about:hover, a.nav-contact:hover {
    font-size: 3rem;

  }

  .logo {
    height: 4em;
    padding: 1.4em;

  }
  
  .navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .navList li {
    margin-right: 20px; 
  }

  .bookTitle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.9rem;
  }
  
  .todoForm{
    display: flex;
    /*gap: 10px 20px;
    margin-bottom: 20px;*/
    align-items: center;
    font-size: 7rem;
  }

  .form-todo-list{
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    padding: 0rem 4rem 4rem 16rem  ;
    margin: 4rem;
  }
  
  .title{
    margin-right:100px;
  }

  .sort-titles {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .removeButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    height: 40px;
    font-size: 25px;
    align-items: baseline;
    padding: 5px;
    margin: 5px;
  }
  
  .addButton{
    background-color: rgb(221, 241, 221);
    color: #000;
    height: 40px;
    font-weight: bold;
    font-size: 25px;
    align-items: baseline;
    padding: 5px;
    margin: 5px;
  }

  input#todoTitle {
    display: flex;
    justify-items: center;
    width: 350px; 
}

.about-page{
  font-size: 1.8em;
  padding: 0 5rem 5rem;
}

.key-title{
  color:darkslategrey;
}

.key-list{
  display: flex;
  flex-direction: column;
  padding: 0 7.5rem;
  margin: 4rem;
}
main {
  flex: 1; 
}
footer {
  width: 100%;
  height: auto;
  position: relative;
  list-style: none;
  text-decoration: none;
  background-color: #f8f8f8;
  bottom: 0;
  color: cadetblue;
  font-size: 1.4rem;
  box-sizing: border-box; 
}

.footer p, 
.footer h4 {
  margin: 0;               
  padding: 0;              
  line-height: 1.4;        
  font-size: 1.4rem;
}
}